theme = "onedark-transparent"

[editor]
line-number = "absolute"
mouse = false
middle-click-paste = false
scrolloff = 5
shell = ["zsh", "-c"]
auto-save = true
auto-format = true
bufferline = "multiple"
color-modes = true

[editor.soft-wrap]
enable = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.lsp]
display-messages = true
display-inlay-hints = true

[editor.statusline]
# left = ["spacer", "diagnostics"]
center = ["file-name"]
right = ["spacer", "version-control", "spacer", "selections", "spacer", "position", "spacer", "file-encoding", "spacer", "file-type", "spacer", "mode"]

