# https://github.com/wimpysworld/nix-config/blob/main/.github/workflows/flake-checker.yml
name: Flake ❄️ Checker ✅

on:
  push:
    branches:
      - main
  schedule:
    # l33t o'clock
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  flake-checker:
    name: Flake Checker
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main